{{define "feed"}}
    {{template "header" }}

    <div class="ui text container">
        <h3>Check out last videos: (some of them are private)</h3>
    </div>
        <br>
    <div class="ui grid">
        {{range .}}
            <div class="four wide column">
                <div class="ui secondary segment">
                    <p><b>ID:</b> {{.ID}}</p>
                    <p><a href="/watch/{{ .ID}}">Watch</a> </p>
                    <a href="/watch/{{ .ID}}"><img class="thumbnail" width="256" height="144" src="{{ .Preview}}"></a>
                </div>
            </div>
        {{ end}}
    </div>

    {{template "footer"}}
{{ end }}
